# Python API for NYU's DataMart

This notebook showcases how to use the Python API for the NYU's DataMart system, which implements the common DataMart interface (https://gitlab.com/datadrivendiscovery/datamart-api/blob/master/datamart.py). To install it: `pip install datamart_nyu`

For the augmentation, we use the taxi demand example, available here: https://gitlab.datadrivendiscovery.org/d3m/datasets/tree/master/seed_datasets_data_augmentation/DA_ny_taxi_demand

In [1]:
from d3m import container
import datamart
import datamart_nyu
import datetime
from pathlib import Path

In [2]:
def print_results(results):
    if not results:
        return
    for result in results:
        print(result.score())
        print(result.get_json_metadata()['metadata']['name'])
        if (result.get_augment_hint()):
            left_columns = []
            for column_ in result.get_augment_hint().left_columns:
                left_columns.append([])
                for column in column_:
                    left_columns[-1].append((column.resource_id, column.column_index))
            print("Left Columns: %s" % str(left_columns))
            right_columns = []
            for column_ in result.get_augment_hint().right_columns:
                right_columns.append([])
                for column in column_:
                    right_columns[-1].append((column.resource_id, column.column_index))
            print("Right Columns: %s" % str(right_columns))
        else:
            print(result.id())
        print("-------------------")

Loading the taxi data, i.e., our supplied data.

In [3]:
# You can change this accordingly
ny_taxi_demand_file = str(Path.home()) + '/projects/d3m/datasets/seed_datasets_data_augmentation/' +\
                      'DA_ny_taxi_demand/DA_ny_taxi_demand_dataset/datasetDoc.json'
ny_taxi_demand = container.Dataset.load('file://' + ny_taxi_demand_file)

In [4]:
ny_taxi_demand['learningData'].head()

  d3mIndex tpep_pickup_datetime num_pickups
0        0  2018-04-19 22:00:00         731
1        1  2018-06-30 20:00:00         183
2        2  2018-06-02 10:00:00         384
3        3  2018-04-17 13:00:00         648
4        4  2018-01-04 01:00:00           3

## Searching for Datasets

Let's first instantiate our client:

In [8]:
client = datamart_nyu.RESTDatamart('https://datamart.d3m.vida-nyu.org')

### Search using keywords

In [9]:
query = datamart.DatamartQuery(
    keywords=['transportation', 'city data', 'taxi',
              'yellow cab', 'pickup', 'LaGuardia airport',
              'weather', 'weather conditions', 'new york',
              'hourly'
             ],  # keywords from problem definition
    variables=[]
)
cursor = client.search(query=query)

In [10]:
results = cursor.get_next_page()

In [11]:
print_results(results)

40.87039
2017-yellow-cab-lga
datamart.url.54f251dd89075077b3b76edfb2fcbbdd
-------------------
36.29515
Newyork Weather Data around Airport 2016-18
datamart.url.a3943fd7892d5d219012f889327c6661
-------------------
25.053398
NYC Hourly Weather Data 2010-2018
datamart.upload.469f627ada7349f285ad22d3028bc38d
-------------------
23.657658
Water Consumption In The New York City
datamart.socrata.data-cityofnewyork-us.ia2d-e54m
-------------------
20.579483
Overhead Electronic Signs
datamart.socrata.data-cityofnewyork-us.yhdx-itry
-------------------
20.184807
ny_lga_weather_16_17_18
datamart.url.ce55ccdfd9a653a082795b7bf7bd88e6
-------------------
20.01062
Local Law 50 New York State Food Purchasing FY15
datamart.socrata.data-cityofnewyork-us.2rd2-9uwy
-------------------
15.290079
New York City Population By Community Districts
datamart.socrata.data-cityofnewyork-us.xi7c-iiu2
-------------------
14.732035
SNAP Center Wait Time
datamart.socrata.data-cityofnewyork-us.gqk4-hny9
-------------------
14.243151
New York City Population By Neighborhood Tabulation Areas
datamart.socrata.data-cityofnewyork-us.swpk-hqdp
-------------------
14.189844
NYC Women's Resource Network Database
datamart.socrata.data-cityofnewyork-us.pqg4-dm6b
-------------------
14.004628
New York City Leading Causes of Death
datamart.socrata.data-cityofnewyork-us.jb7j-dtam
-------------------
13.216519
New York City Seasonally Adjusted Employment
datamart.socrata.data-cityofnewyork-us.5hjv-bjbv
-------------------
13.21611
Yellow Taxi Data 2015
datamart.upload.4eb2156e6a994f33ba71dd59f44c4c59
-------------------
12.801085
Transportation Sites
datamart.socrata.data-cityofnewyork-us.hg3c-2jsy
-------------------
12.6440735
NYC Weather Data 2010-2018
datamart.upload.a031bc4968cb4838967e4709e63a0ddc
-------------------
12.640326
NYC Independent Budget Office (IBO) Debt Service Since FY 2000
datamart.socrata.data-cityofnewyork-us.6ggx-itps
-------------------
12.580477
New York City Population by Borough, 1950 - 2040
datamart.socrata.data-cityofnewyork-us.xywu-7bv9
-------------------
12.113855
New York City Council Discretionary Funding
datamart.socrata.data-cityofnewyork-us.4d7f-74pe
-------------------
11.958561
Housing New York Units by Project
datamart.socrata.data-cityofnewyork-us.hq68-rnsi
-------------------

### Search using keywords and variables

In [12]:
query = datamart.DatamartQuery(
    keywords=['transportation', 'city data', 'taxi',
              'yellow cab', 'pickup', 'LaGuardia airport',
              'weather', 'weather conditions', 'new york',
              'hourly'
             ],  # keywords from problem definition
    variables=[
        datamart.TemporalVariable(start=datetime.datetime(2018,1,1), end=None)  # data after 2018-01-01
    ]
)
cursor = client.search(query=query)

In [13]:
results = cursor.get_next_page()

In [14]:
print_results(results)

39.816456
Newyork Weather Data around Airport 2016-18
datamart.url.a3943fd7892d5d219012f889327c6661
-------------------
28.574703
NYC Hourly Weather Data 2010-2018
datamart.upload.469f627ada7349f285ad22d3028bc38d
-------------------
23.847273
ny_lga_weather_16_17_18
datamart.url.ce55ccdfd9a653a082795b7bf7bd88e6
-------------------
18.518934
SNAP Center Wait Time
datamart.socrata.data-cityofnewyork-us.gqk4-hny9
-------------------
16.30654
NYC Weather Data 2010-2018
datamart.upload.a031bc4968cb4838967e4709e63a0ddc
-------------------
15.479866
Housing New York Units by Project
datamart.socrata.data-cityofnewyork-us.hq68-rnsi
-------------------
15.250554
Housing New York Units by Building
datamart.socrata.data-cityofnewyork-us.hg8x-zxpr
-------------------
14.539165
Energy and Water Data Disclosure for Local Law 84 2014 (Data for Calendar Year 2013)
datamart.socrata.data-cityofnewyork-us.rgfe-8y2z
-------------------
13.982488
2018 Green Taxi Trip Data
datamart.socrata.data-cityofnewyork-us.w7fs-fd9i
-------------------
13.929158
Taxi Improvement Fund (TIF) Medallion Payments
datamart.socrata.data-cityofnewyork-us.ht4t-wzcm
-------------------
13.719293
2018 Yellow Taxi Trip Data
datamart.socrata.data-cityofnewyork-us.t29m-gskq
-------------------
13.491664
Traffic Volume Counts (2014-2018)
datamart.socrata.data-cityofnewyork-us.ertz-hr4r
-------------------
13.217969
Department for the Aging (DFTA) Transportation Contracted Providers
datamart.socrata.data-cityofnewyork-us.6wjr-mhgf
-------------------
13.174304
Medallion Taxi Initial Inspection Schedule
datamart.socrata.data-cityofnewyork-us.k2tc-bipg
-------------------
12.378355
Medallion  Vehicles - Authorized
datamart.socrata.data-cityofnewyork-us.rhe8-mgbb
-------------------
12.155338
Department for the Aging (DFTA) Reported Line Item Expenditures by Month of Transportation Services Contracted Providers
datamart.socrata.data-cityofnewyork-us.s3uf-q278
-------------------
12.088603
Historical Medallion  Vehicles - Authorized
datamart.socrata.data-cityofnewyork-us.pvkv-25ck
-------------------
11.957346
Department for the Aging (DFTA) Reported Service Units by Month of Transportation Contracted Providers
datamart.socrata.data-cityofnewyork-us.5vqp-meve
-------------------
11.658231
Street Hail Livery (SHL) Taxi Initial Inspection Schedule
datamart.socrata.data-cityofnewyork-us.rdxc-q253
-------------------
11.399964
DOHMH New York City Restaurant Inspection Results
datamart.socrata.data-cityofnewyork-us.43nn-pn8j
-------------------

### Search using data

In [15]:
cursor = client.search_with_data(query=None, supplied_data=ny_taxi_demand)

In [16]:
results = cursor.get_next_page()

In [17]:
print_results(results)

1.0
DEP - Cryptosporidium And Giardia Data Set
Left Columns: [[('learningData', 1)]]
Right Columns: [[('0', 1)]]
-------------------
1.0
Asset Management Parks System (AMPS) - Work Orders
Left Columns: [[('learningData', 1)]]
Right Columns: [[('0', 28)]]
-------------------
1.0
Asset Management Parks System (AMPS) – Labor
Left Columns: [[('learningData', 1)]]
Right Columns: [[('0', 2)]]
-------------------
1.0
2005 - 2011 Graduation Outcomes - Borough - ELL
Left Columns: [[('learningData', 1)]]
Right Columns: [[('0', 13)]]
-------------------
1.0
Asset Management Parks System (AMPS) – Assets
Left Columns: [[('learningData', 1)]]
Right Columns: [[('0', 11)]]
-------------------
1.0
Asset Management Parks System (AMPS) – Assets
Left Columns: [[('learningData', 1)]]
Right Columns: [[('0', 17)]]
-------------------
1.0
Cash Assistance Youth Engagement
Left Columns: [[('learningData', 1)]]
Right Columns: [[('0', 6)]]
-------------------
1.0
Parking Violations Issued - Fiscal Year 2017
Left Columns: [[('learningData', 1)]]
Right Columns: [[('0', 23)]]
-------------------
1.0
Housing New York Units by Building
Left Columns: [[('learningData', 1)]]
Right Columns: [[('0', 2)]]
-------------------
1.0
Housing New York Units by Building
Left Columns: [[('learningData', 1)]]
Right Columns: [[('0', 3)]]
-------------------
1.0
NYC Parks Events Listing – Event Listing
Left Columns: [[('learningData', 1)]]
Right Columns: [[('0', 2)]]
-------------------
1.0
Inmate Admissions
Left Columns: [[('learningData', 1)]]
Right Columns: [[('0', 1)]]
-------------------
1.0
Sidewalk Café Licenses and Applications
Left Columns: [[('learningData', 1)]]
Right Columns: [[('0', 38)]]
-------------------
1.0
Board of Standards and Appeals (BSA) Applications Status
Left Columns: [[('learningData', 1)]]
Right Columns: [[('0', 12)]]
-------------------
1.0
Doing Business Search - People
Left Columns: [[('learningData', 1)]]
Right Columns: [[('0', 7)]]
-------------------
1.0
CATS Permits
Left Columns: [[('learningData', 1)]]
Right Columns: [[('0', 10)]]
-------------------
1.0
CATS Permits
Left Columns: [[('learningData', 1)]]
Right Columns: [[('0', 18)]]
-------------------
1.0
Fee Charges
Left Columns: [[('learningData', 1)]]
Right Columns: [[('0', 15)]]
-------------------
1.0
Fee Charges
Left Columns: [[('learningData', 1)]]
Right Columns: [[('0', 18)]]
-------------------
1.0
2005 - 2011 Graduation Outcomes - Borough - Ethnicity
Left Columns: [[('learningData', 1)]]
Right Columns: [[('0', 5)]]
-------------------

### Search using data and keywords

In [18]:
query = datamart.DatamartQuery(
    keywords=['transportation', 'city data', 'taxi',
              'yellow cab', 'pickup', 'LaGuardia airport',
              'weather', 'weather conditions', 'new york',
              'hourly'
             ],  # keywords from problem definition
    variables=[]
)
cursor = client.search_with_data(query=query, supplied_data=ny_taxi_demand)

In [19]:
results = cursor.get_next_page()

In [20]:
print_results(results)

50.0
Newyork Weather Data around Airport 2016-18
Left Columns: [[('learningData', 1)]]
Right Columns: [[('0', 0)]]
-------------------
30.0
Medallion  Vehicles - Authorized
Left Columns: [[('learningData', 1)]]
Right Columns: [[('0', 14)]]
-------------------
30.0
ny_lga_weather_16_17_18
Left Columns: [[('learningData', 1)]]
Right Columns: [[('0', 0)]]
-------------------
26.547314
Trade Waste Hauler Licensees
Left Columns: [[('learningData', 1)]]
Right Columns: [[('0', 0)]]
-------------------
26.547314
Trade Waste Hauler Licensees
Left Columns: [[('learningData', 1)]]
Right Columns: [[('0', 14)]]
-------------------
24.126173
Medallion  Vehicles - Authorized
Left Columns: [[('learningData', 1)]]
Right Columns: [[('0', 2)]]
-------------------
20.0
Housing New York Units by Building
Left Columns: [[('learningData', 1)]]
Right Columns: [[('0', 2)]]
-------------------
20.0
Housing New York Units by Building
Left Columns: [[('learningData', 1)]]
Right Columns: [[('0', 3)]]
-------------------
20.0
NYPD Complaint Data Historic
Left Columns: [[('learningData', 1)]]
Right Columns: [[('0', 3)]]
-------------------
20.0
Open Parking and Camera Violations
Left Columns: [[('learningData', 1)]]
Right Columns: [[('0', 4)]]
-------------------
20.0
Housing New York Units by Project
Left Columns: [[('learningData', 1)]]
Right Columns: [[('0', 3)]]
-------------------
20.0
Handyman Work Order (HWO) Charges
Left Columns: [[('learningData', 1)]]
Right Columns: [[('0', 13)]]
-------------------
20.0
Evictions
Left Columns: [[('learningData', 1)]]
Right Columns: [[('0', 4)]]
-------------------
20.0
NYPD Complaint Data Historic
Left Columns: [[('learningData', 1)]]
Right Columns: [[('0', 6)]]
-------------------
20.0
2010 - 2016 School Safety Report
Left Columns: [[('learningData', 1)]]
Right Columns: [[('0', 8)]]
-------------------
20.0
Energy and Water Data Disclosure for Local Law 84 2014 (Data for Calendar Year 2013)
Left Columns: [[('learningData', 1)]]
Right Columns: [[('0', 5)]]
-------------------
20.0
Taxi Improvement Fund (TIF) Medallion Payments
Left Columns: [[('learningData', 1)]]
Right Columns: [[('0', 5)]]
-------------------
20.0
Housing New York Units by Building
Left Columns: [[('learningData', 1)]]
Right Columns: [[('0', 19)]]
-------------------
20.0
NYC Wi-Fi Hotspot Locations
Left Columns: [[('learningData', 1)]]
Right Columns: [[('0', 15)]]
-------------------
20.0
2013 - 2014 School Quality Reports
Left Columns: [[('learningData', 1)]]
Right Columns: [[('0', 5)]]
-------------------

### Search using data, keywords, and data columns

In [21]:
query = datamart.DatamartQuery(
    keywords=['transportation', 'city data', 'taxi',
              'yellow cab', 'pickup', 'LaGuardia airport',
              'weather', 'weather conditions', 'new york',
              'hourly'
             ],  # keywords from problem definition
    variables=[]
)
cursor = client.search_with_data_columns(
    query=query,
    supplied_data=ny_taxi_demand,
    data_constraints=[
        datamart.TabularVariable(
            [datamart.DatasetColumn('learningData', 1)],  # date_time variable
            datamart.ColumnRelationship.CONTAINS
        )
    ]
)

In [22]:
results = cursor.get_next_page()

In [23]:
print_results(results)

50.0
Newyork Weather Data around Airport 2016-18
Left Columns: [[('learningData', 1)]]
Right Columns: [[('0', 0)]]
-------------------
30.0
Medallion  Vehicles - Authorized
Left Columns: [[('learningData', 1)]]
Right Columns: [[('0', 14)]]
-------------------
30.0
ny_lga_weather_16_17_18
Left Columns: [[('learningData', 1)]]
Right Columns: [[('0', 0)]]
-------------------
26.547314
Trade Waste Hauler Licensees
Left Columns: [[('learningData', 1)]]
Right Columns: [[('0', 0)]]
-------------------
26.547314
Trade Waste Hauler Licensees
Left Columns: [[('learningData', 1)]]
Right Columns: [[('0', 14)]]
-------------------
24.126173
Medallion  Vehicles - Authorized
Left Columns: [[('learningData', 1)]]
Right Columns: [[('0', 2)]]
-------------------
20.0
Housing New York Units by Building
Left Columns: [[('learningData', 1)]]
Right Columns: [[('0', 2)]]
-------------------
20.0
Housing New York Units by Building
Left Columns: [[('learningData', 1)]]
Right Columns: [[('0', 3)]]
-------------------
20.0
NYPD Complaint Data Historic
Left Columns: [[('learningData', 1)]]
Right Columns: [[('0', 3)]]
-------------------
20.0
Open Parking and Camera Violations
Left Columns: [[('learningData', 1)]]
Right Columns: [[('0', 4)]]
-------------------
20.0
Housing New York Units by Project
Left Columns: [[('learningData', 1)]]
Right Columns: [[('0', 3)]]
-------------------
20.0
Handyman Work Order (HWO) Charges
Left Columns: [[('learningData', 1)]]
Right Columns: [[('0', 13)]]
-------------------
20.0
Evictions
Left Columns: [[('learningData', 1)]]
Right Columns: [[('0', 4)]]
-------------------
20.0
NYPD Complaint Data Historic
Left Columns: [[('learningData', 1)]]
Right Columns: [[('0', 6)]]
-------------------
20.0
2010 - 2016 School Safety Report
Left Columns: [[('learningData', 1)]]
Right Columns: [[('0', 8)]]
-------------------
20.0
Energy and Water Data Disclosure for Local Law 84 2014 (Data for Calendar Year 2013)
Left Columns: [[('learningData', 1)]]
Right Columns: [[('0', 5)]]
-------------------
20.0
Taxi Improvement Fund (TIF) Medallion Payments
Left Columns: [[('learningData', 1)]]
Right Columns: [[('0', 5)]]
-------------------
20.0
Housing New York Units by Building
Left Columns: [[('learningData', 1)]]
Right Columns: [[('0', 19)]]
-------------------
20.0
NYC Wi-Fi Hotspot Locations
Left Columns: [[('learningData', 1)]]
Right Columns: [[('0', 15)]]
-------------------
20.0
2013 - 2014 School Quality Reports
Left Columns: [[('learningData', 1)]]
Right Columns: [[('0', 5)]]
-------------------

## Downloading a dataset

Now let's materialize one of the weather datasets, in case the user wants to take a look at the data before augmenting it (or so that the user can augment the data him/herself).

In [24]:
ny_weather_data = results[0].download(supplied_data=None)

In [25]:
ny_weather_data['learningData'].head()

,DATE,HOURLYSKYCONDITIONS,HOURLYDRYBULBTEMPC,HOURLYRelativeHumidity,HOURLYWindSpeed,HOURLYWindDirection,HOURLYStationPressure
0,2016-01-01 01:00:00,OVC:08 38,6.1,58.0,17,300,30.03
1,2016-01-01 02:00:00,OVC:08 38,6.1,56.0,16,320,30.03
2,2016-01-01 03:00:00,OVC:08 38,5.6,55.0,13,340,30.03
3,2016-01-01 04:00:00,OVC:08 36,5.6,55.0,13,300,30.03
4,2016-01-01 05:00:00,FEW:02 34 OVC:08 45,5.0,60.0,13,270,30.01

You can also give a dataset as input so that DataMart can try to return a dataset that joins well with it. Only portions of the DataMart dataset that join with the input data will be returned.

In [26]:
ny_weather_data = results[0].download(supplied_data=ny_taxi_demand)

In [27]:
ny_weather_data['learningData'].head()

,DATE,HOURLYSKYCONDITIONS,HOURLYDRYBULBTEMPC,HOURLYRelativeHumidity,HOURLYWindSpeed,HOURLYWindDirection,HOURLYStationPressure
0,2018-04-19 22:00:00,FEW:02 42,5.0,53.0,16.0,310,29.97
1,2018-06-30 20:00:00,SCT:04 250,30.6,43.0,5.0,180,29.97
2,2018-06-02 10:00:00,FEW:02 40 FEW:02 150 SCT:04 200,28.3,61.0,6.0,070,29.7
3,2018-04-17 13:00:00,BKN:07 46 BKN:07 85,8.3,44.0,17.0,260,29.6
4,2018-01-04 01:00:00,OVC:08 32,-1.7,45.0,8.0,020,29.91

## Augmenting a dataset

 Let's try to do our augmentation for the first query result.

In [28]:
join_ = results[0].augment(supplied_data=ny_taxi_demand)

In [29]:
join_['learningData'].head()

,d3mIndex,tpep_pickup_datetime,num_pickups,HOURLYSKYCONDITIONS,HOURLYDRYBULBTEMPC,HOURLYRelativeHumidity,HOURLYWindSpeed,HOURLYWindDirection,HOURLYStationPressure
0,0,2018-04-19 22:00:00,731,FEW:02 42,5.0,53.0,16.0,310,29.97
1,1,2018-06-30 20:00:00,183,SCT:04 250,30.6,43.0,5.0,180,29.97
2,2,2018-06-02 10:00:00,384,FEW:02 40 FEW:02 150 SCT:04 200,28.3,61.0,6.0,070,29.7
3,3,2018-04-17 13:00:00,648,BKN:07 46 BKN:07 85,8.3,44.0,17.0,260,29.6
4,4,2018-01-04 01:00:00,3,OVC:08 32,-1.7,45.0,8.0,020,29.91

We can also choose which columns from the DataMart dataset (i.e., the weather data) that we want in the augmentation process.

In [30]:
join_ = results[0].augment(
    supplied_data=ny_taxi_demand,
    augment_columns=[datamart.DatasetColumn('0', 3), datamart.DatasetColumn('0', 5)]
)

In [31]:
join_['learningData'].head()

,d3mIndex,tpep_pickup_datetime,num_pickups,HOURLYRelativeHumidity,HOURLYWindDirection
0,0,2018-04-19 22:00:00,731,53.0,310
1,1,2018-06-30 20:00:00,183,43.0,180
2,2,2018-06-02 10:00:00,384,61.0,070
3,3,2018-04-17 13:00:00,648,44.0,260
4,4,2018-01-04 01:00:00,3,45.0,020